<label>Server Name</label>

<!--<input type="text"-->
<!--       class="form-control"-->
<!--       (input)="onUpdateServerName($event)">-->
<br>
<input type="text"
       class = "form-model"
       [(ngModel)]="serverName">

<p>{{serverName}}</p>

<button
  class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<!--* is used with ngIf because it is a structural directive-->

<p *ngIf="serverCreated; else noServer"> Server created with the name: {{serverName}}</p>

<ng-template #noServer>
  <p>
    No Server was Created...
  </p>

</ng-template>


<p [innerHTML]="serverCreationStatus"></p>
<p [innerHTML]="allowNewServer"></p>
<app-server></app-server>

